$primary_80: hsl(220, 75%, 90%);
$primary_70: hsl(220, 75%, 85%);
$primary_60: hsl(220, 75%, 75%);
$primary_50: hsl(220, 75%, 65%);
$primary_40: hsl(220, 75%, 55%);
$primary_30: hsl(220, 75%, 45%);
$primary_20: hsl(220, 75%, 35%);
$primary_10: hsl(220, 75%, 25%);

$accent_80: hsl(60, 55%, 90%);
$accent_70: hsl(60, 55%, 85%);
$accent_60: hsl(60, 55%, 80%);
$accent_50: hsl(60, 55%, 75%);
$accent_40: hsl(60, 55%, 70%);
$accent_30: hsl(60, 55%, 65%);
$accent_20: hsl(60, 55%, 60%);
$accent_10: hsl(60, 55%, 55%);

$neutral_80: hsl(220, 10%, 90%);
$neutral_70: hsl(220, 10%, 80%);
$neutral_60: hsl(220, 10%, 70%);
$neutral_50: hsl(220, 10%, 60%);
$neutral_40: hsl(220, 10%, 50%);
$neutral_30: hsl(220, 10%, 40%);
$neutral_20: hsl(220, 10%, 30%);
$neutral_10: hsl(220, 10%, 20%);

$neutral_20a: hsla(220, 10%, 30%, 0.7);
