@import url('https://fonts.googleapis.com/css?family=Modak|Overpass:300,400,800&display=swap');

$logo_font: ('Modak', cursive);
$font_stack: ('Overpass', sans-serif);

$font_S: 0.75rem;
$font_M: 1.25rem;
$font_L: 1.5rem;
$font_XL: 1.75rem;
$font_XXL: 2.5rem;
$font_XXXL: 3.5rem;

